{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
<div class="post-wrap">
  <article class="post">
    <header class="header">
      <div class="tags">
        <div class="tag">
          <span class="icon">
            <span class="iconfont iconcalendar"></span>
          </span>
          {{ $dateFormat := "2006-01-02" }}
          <time
            class="label"
            pubdate
            datetime="{{ .Date.Format $dateFormat -}}"
            >{{ .Date.Format $dateFormat }}</time
          >
        </div>
      </div>
      <h1 class="title">{{ .Title }}</h1>
    </header>
    <div class="mainer">
      {{ .Content }}
    </div>
  </article>
  {{ if .Site.DisqusShortname }}
  <div class="comment">
    {{ template "_internal/disqus.html" . }}
  </div>
  {{ end }}
</div>

{{ end }}
