{{ define "main" }}

<section class="posts">
  {{ range.Paginator.Pages }}
  <article class="post post-wrap">
    <header class="header">
      <div class="tags">
        <div class="tag">
          <span class="icon">
            <span class="iconfont iconcalendar"></span>
          </span>
          {{ $dateFormat := "2006-01-02" }}
          <time
            class="label"
            pubdate
            datetime="{{ .Date.Format $dateFormat -}}"
            >{{ .Date.Format $dateFormat }}</time
          >
        </div>
      </div>
      <a href="{{ .RelPermalink }}">
        <h1 class="title">{{ .Title }}</h1>
      </a>
    </header>
    <div class="mainer">
      {{ .Summary }}
    </div>
    <footer class="action">
      <a href="{{ .RelPermalink }}" class="button">
        <span class="iconfont icondots-horizontal"></span>
      </a>
    </footer>
  </article>
  {{ end }}
</section>

{{ partial "pagination.html" . }}

{{ end }}
